extends ../base.pug

block variables
  - var template = 'detail'

block content
  .detail(data-background="#BC978C" data-color="#f9f1e7")
    .detail__wrapper
      figure.detail__media
        img.detail__media__image(alt=product.data.image.al data-src=product.data.image.url)

      .detail__information
        p.detail__information__collection=product.data.collection.data.title

        h1.details__information__title=product.data.title

        .detail__information__content
          .detail__information__highlights
            each highlight in product.data.highlights
              p.detail__information__highlight
                svg.detail__information__highlight__icon
                  use(xlink:href=`sprite-${highlight.highlights_icon.toLowerCase()}`)

                span.detail__information__highlight__text!=highlight.highlights_text.replace(/\n/, '<br>')

          .detail__information__list
            each item in product.data.informations
              p.detail__information__item
                strong.detail__information__item__title=item.informations_label
                span.detail__information__item__description=item.informations_description

          a.detail__information__link(href=product.data.link_url.url target=_blank)=product.data.link_text

    a.detail__button(href=Link(home.data.collections)) Close
      svg.detail__button__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 60")
        path(fill="none" stroke="currentColor" d="M62,0c34.24,0,62,13.43,62,30s-27.76,30-62,30S0,46.57,0,30,27.76,0,62,0Zm0,.5c33.97,0,61.5,13.21,61.5,29.5s-27.53,29.5-61.5,29.5S.5,46.29,.5,30,28.03,.5,62,.5Z")
