extends ../base.pug

block variables
  - var template = 'detail'

block content
  .detail
    .detail__wrapper
      .detail__gallery
        .detail__gallery__wrapper
          each shot in project.data.shots
            figure.detail__media
              img.detail__media__image(alt=shot.image.alt  data-src=shot.image.url)

      .detail__information
        h1.detail__information__title=project.data.title

        .detail__information__content
          .detail__information__description
            each description in project.data.description
              p.detail__information__description__text!=description.text.replace(/\n/g, '<br>')

          .detail__information__technos
            p.detail__information__technos__text=project.data.technologies
