extends ../base.pug

block variables
  - var template = 'home'

block content
  .home
    .home__wrapper
      each item in home
        .item
          .item__wrapper
            a.item__wrapper__link(href=Link(item.data.project[0].project_shots))
            .item__wrapper__title=item.data.title
            //- figure.home__gallery__card__media(data-index=index )
            //-   img.home__gallery__card__media__image(alt=item.data.image.alt data-src=item.data.image.url)
