extends ../base.pug

block variables
  - var template = 'home'

block content
  .home(data-background="#BC978C" data-color="#f9f1e7")
    .home__wrapper
      .home__gallery
        .home__gallery__wrapper
          each item, index in home
            .item__gallery__card
              .item__gallery__card__title=item.data.title
              figure.home__gallery__card__media(data-index=index )
                img.home__gallery__card__media__image(alt=item.data.image.alt src=item.data.image.url)




            //- a.home__gallery__link(href=Link(item.project))
            //-   .item__gallery__title=item.data.title
            //-   figure.home__gallery__media(data-index=index )
            //-     img.home__gallery__media__image(alt=item.data.image.alt data-src=item.data.image.url)
